<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>

		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
			crossorigin="anonymous"
		/>
	
		<title>Login</title>

	</head>

	<body>
		<div class="container-fluid ">
            <br>
            <h2> <%= type %></h2>
            <hr>
            <br>

            <% if( type.toString()=='Login'){ %>
              <form action="/login" method="post">
            <% } else { %>
              <form action="/signup" method="post">
            <% } %>
                <div class="mb-3">
                  <label for="email" class="form-label">Email address</label>
                  <input 
                    type="email"
                    name="username"
                    id="email"
                    class="form-control"
                    placeholder="email@example.com"
                    required
                    />
                  <small id="emailHelp" class="form-text">We'll never share your email with anyone else.</small>
                </div>

                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                 <input
                        type="password"
                        name="password"
                        id="password"
                        class="form-control"
                        placeholder="*********"
                        required
                    />
                </div>
                
                <div class="mb-3 text-center">
                    <button 
                    name="login"
                    id="login"
                    class="btn btn-success"
                    type="submit"
                    value="Login">
                Submit </button>
                </div>
              
              </form>
              
              <% if( type.toString()=='Login'){ %>
                <div class="text-center">
                  <small>New to the platform?</small>
                  <a href="/signup" class="btn btn-sm btn-outline-info">SignUp</a>
                </div>
              <% } else { %>
                <div class="text-center">
                  <small>Already a User?</small>
                  <a href="/" class="btn btn-sm btn-outline-info">LogIn</a>
                </div>
              <% } %>
             
              
         
		</div>

		<script
			src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
			crossorigin="anonymous"
		></script>
	</body>
</html>
